  body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      overflow-x: hidden;
  }

  p {
      color: #6F6F6F;
  }

  a {
      color: #6F6F6F;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      transition: all .2s ease-in-out 0s;
  }

  /*topbar start*/
  .top-bar {
      border-bottom: 1px solid rgba(0, 0, 0, 10%);
      background-color: #232323;
  }

  .top-bar ul li {
      color: #ffffff;
      line-height: 1;
  }

  .top-bar ul li.grid-wrapper .richtext p strong {
      animation: blinker .7s infinite;
      font-weight: 600;
  }

  @keyframes blinker {

      50% {
          color: #f5ab1e;
      }

  }

  .top-bar .offer-text-wrap {
      padding: 5px 0;
      position: relative;
  }

  /*topbar end*/
  .container-custom {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
  }

  .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
  }

  .navbar .logo {
      width: 120px;
      height: 60px;
  }

  .form-control {
      width: 390px;
      height: 40px;
  }

  ul.shop-element .user-wrap .acc-desk i {
      font-size: 30px;
      margin-right: 5px;
  }

  .search-btn {
      font-size: 16px;
      color: #fff;
      position: absolute;
      right: 34%;
      width: 40px;
      height: 40px;
      background-color: #333333;
      border-radius: 50px;
      bottom: 30%;
  }

  button {
      border: none;
  }

  .acc-desk {
      display: flex;
      align-items: center;
      gap: 6px;
  }

  .wishlist-wrap i:first-child,
  .cart-wrap i:first-child {
      font-size: 30px;
      color: #333333;
      margin-left: 30px;
  }

  /*nav start*/
  @media (min-width: 992px) {
      .navbar-expand-lg .navbar-nav .dropdown-menu {
          position: absolute;
      }
  }

  @media (min-width: 992px) {
      .navbar .megamenu {
          left: 0;
          right: 0;
          width: 1110px;
          margin-top: 0;
      }
  }

  .navbar .megamenu {
      padding: 1rem;
  }

  .navbar-nav .dropdown-menu {
      position: static;
  }

  .dropdown-menu.show {
      display: block;
  }

  .dropdown-menu[data-bs-popper] {
      left: 20%;
      margin-top: .125rem;
  }

  .dropdown-menu {
      position: absolute;
      top: 100%;
      z-index: 1000;
      display: none;
      min-width: 10rem;
      padding: .5rem 0;
      margin: 0;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .15);
      border-radius: .25rem;
  }

  .hot:before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-top-width: 0px;
      border-right-width: 0px;
      border-top-style: solid;
      border-top-color: transparent;
      border-left-width: 0px;
      border-right-width: 6px;
      border-top: 5px solid #A81F1F;
      -moz-transform: scale(.9999);
  }

  .nav-item {
      margin-left: 20px;
  }

  .nav-item:first-child {
      margin-left: 0;
  }


  .no-caret::after {
      display: none !important;
  }

  .nav-img img {
      width: 423px;
      height: 234px;
  }

  .navbar .custom-megamenu {
      left: 15%;
      right: 0;
      width: 1350px;
      margin-top: 0;
      padding: 15px;
  }

  .col-megamenu h6 {
      display: block;
      font-size: 16px;
      width: 100%;
      padding-bottom: 20px;
      font-weight: 600;
  }

  .dropdown-menu>div>div>div ul li {
      display: grid;
      gap: 10px;
  }

  .megamenu .col-megamenu ul li {
      display: block;
      padding: 5px 0;
      transition: all .2s ease-in-out 0s;
  }

  .megamenu .col-megamenu ul li a:hover {
      color: #f5ab1e;
  }

  .nav-offset {
      top: 100px;
      z-index: 100;
  }

  /*double col start*/
  @media (min-width: 992px) {
      .navbar .has-megamenu {
          position: static !important;
      }
  }

  /*nav end*/
  /*breadcrum start*/
  .breadcrumb-area {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/breadcrumb.webp) no-repeat scroll center center / cover;
  }

  .breadcrumb-list {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
  }

  .breadcrumb-list li a {
      color: white;
  }

  .breadcrumb-list .br-item:before {
      content: "/";
      padding: 0 10px;
      color: white;
  }

  /*breadcrum end*/
  /*main image start*/
  .product-details {
      padding-top: 80px;
      padding-bottom: 0px;
  }

  .main-image {
      width: 443px;
      height: 513px;
      border-radius: 10px;
      object-fit: cover;
  }

  .thumbnail-list {
      white-space: nowrap;
      padding-top: 10px;
  }

  .thumbnail-list img {
      height: 100px;
      width: auto;
      margin-right: 10px;
      border: 2px solid transparent;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 5px;
  }

  /*main image end*/
  /*product details info start*/
  .product-details {
      margin: 30px 0 0 30px;
  }

  .product-detail-info h2 {
      font-size: 18px;
      font-weight: 600;
  }

  .product-detail-info .product-title {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #ededed;
  }

  .rating i {
      padding: 0;
      color: #F5BE05;
      font-weight: bold;
  }

  .product-detail-info .product-stock h6 {
      font-weight: 600;
      padding-inline-end: 15px;
      margin-top: 15px;
  }

  .product-detail-info .product-stock {
      display: flex;
      align-items: center;
  }

  .blink-dot {
      animation: pulse 1.2s infinite;
      transform-origin: center;
  }

  @keyframes pulse {
      0% {
          transform: scale(1);
          opacity: 1;
      }

      50% {
          transform: scale(1.2);
          opacity: 0.5;
      }

      100% {
          transform: scale(1);
          opacity: 1;
      }
  }

  .percent-count {
      background-color: #e30514;
      font-size: 13px;
      padding: 2px 15px;
      color: #fff;
      border-radius: 3px;
  }

  .price {
      margin-top: 15px;
  }

  .price span {
      margin: 0 0 0 10px;
      font-weight: 600
  }

  .price span:first-child {
      margin: 0 0 0 0;
      font-weight: 600
  }

  .product-detail-info .product-description {
      margin-top: 15px;
  }

  .product-material-info .option-title span:first-child {
      font-weight: 600;
  }

  .product-material-info .option-title span:last-child {
      font-weight: 400;
      font-size: 14px;
      margin-inline-start: 15px;
  }

  .product-material-info .option-block label {
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
      line-height: 1;
      padding: 8px 10px;
      border: 1px solid transparent;
      background-color: #f7f7f7;
      transition: .2s ease-in;
      justify-content: center;
      border-radius: 3px;
  }

  .product-material-info {
      margin-top: 20px;
  }

  .quantity-1 {
      width: 150px;
      border: 1px solid rgba(0, 0, 0, 10%);
      border-radius: 3px;
      padding: 5px 0;
  }

  .quantity-form {
      display: flex;
      align-items: center;
      margin-top: 30px;
      line-height: 1;
  }

  .wallet-button-fade-in {
      animation: animation-fade-in .3s cubic-bezier(.1, .79, 1, 1)
  }

  .product-detail-info .form-button {
      flex-wrap: wrap;
      margin: -15px 0 0 -15px;
      padding-top: 40px;
  }

  .product-detail-info .form-button .btn {
      display: flex;
      align-items: center;
  }

  .product-detail-info .form-button .btn:first-child {
      display: flex;
      justify-content: center;
      width: 202px;
      margin: 15px 0 0 15px;
      color: #fff;
      border-radius: 3px;
      background-color: #c28c2e;
      height: 45px;
  }

  .product-detail-info .form-button .btn:last-child {
      display: flex;
      justify-content: center;
      width: 202px;
      margin: 15px 0 0 15px;
      color: #fff;
      border-radius: 3px;
      background-color: #222222;
      height: 45px;
  }

  .product-detail-info .form-button .btn:first-child:hover {
      background-color: #222222;
      transition: 0.5s ease all;
  }

  .product-detail-info .form-button .btn:last-child:hover {
      background-color: #c28c2e;
      transition: 0.5s ease all;
  }

  /*product detail info end*/
  /*icon box start*/
  .pr-sr-wrap .pr-sr-wrapper .iconbox-inner {
      text-align: center;
      background-color: #f9f9f9;
      padding: 15px;
      align-items: center;
  }

  .iconbox-inner .icon i {
      font-size: 26px;
  }

  .iconbox-inner .icon {
      color: #c28c2e;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      background-color: #fff;
      position: relative;
      width: 60px;
      margin: 0 auto;
      height: 60px;
      border-radius: 50%;
  }

  .iconbox-inner .iconbox-wrap {
      margin-top: 15px;
  }

  .iconbox-inner .iconbox-wrap h4 {
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 5px;
  }

  .iconbox-inner .iconbox-wrap p {
      width: 60%;
      margin: 0 auto;
      text-align: center;
      line-height: 25px;
      font-weight: 500;
  }

  .pr-sr-wrap .pr-sr-wrapper {
      margin: 15px 0 0 15px;
  }

  .ti-truck:before {
      content: "\e66d";
  }

  .wishlist-bottom {
      margin-top: 15px;
  }

  .wishlist-bottom span {
      font-weight: 600;
      letter-spacing: 0.8px;
  }

  .share-icons h6 {
      font-weight: 600;
  }

  .share-icons ul li a i {
      font-size: 18px;
      margin: 0 0 0 20px;
      color: #000;
      transition: 0.5s ease all;
  }

  .share-icons ul li a i:hover {
      color: #c28c2e;
  }

  .product-detail-info .product-sku {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid #ededed;
  }

  .product-sku h6 {
      font-weight: 600;
  }

  .product-detail-info .product-sku span {
      margin-inline-start: 15px;
      line-height: 1;
      color: #6F6F6F;
  }

  .payment-icon svg {
      width: 38px;
      height: auto;

      margin-right: 5px;

      display: inline-block;
  }

  .payment-icon svg:last-child {

      margin-right: 0px;

  }

  /*icon box end*/
  /*product discription start*/
  table {
      width: 100%;
      border-collapse: collapse;
  }

  table th,
  table td {
      border: 1px solid #ddd;
      padding: 12px;
  }

  .product-description-tab {
      padding-top: 80px;
      padding-bottom: 0px;
  }

  .product-description-tab .description-review-text {
      margin-top: 30px;
  }

  .tab ul.nav-tabs {
      justify-content: center;
      border-bottom: none;
  }

  .tab ul.nav-tabs li a:hover,
  .tab ul.nav-tabs li a.active {
      color: #c28c2e;
      border-bottom: 1px solid #c28c2e;
  }

  .tab ul.nav-tabs li a {
      font-weight: 500;
      text-transform: uppercase;
      color: #949494;
      letter-spacing: 0;
      border-bottom: 1px solid transparent;
  }

  .tab ul.nav-tabs li {
      position: relative;
      padding-right: 20px;
      margin-right: 20px;
  }

  .tab ul.nav-tabs li:after {
      content: "";
      position: absolute;
      transform: translateY(50%);
      bottom: 50%;
      right: 0;
      height: 14px;
      width: 1px;
      background-color: #0000001a;
  }

  .tab ul.nav-tabs li:last-child::after {
      display: none;
  }

  .tab-pane span {
      color: #6F6F6F;
  }

  .rating .black-load {
      display: inline-block;
      width: 140px;
      height: 14px;
      background-color: #000;
      margin: 0 24px;
  }

  .rating .blank-load {
      display: inline-block;
      width: 140px;
      height: 14px;
      background-color: rgba(224, 224, 224, 0.5);
      margin: 0 24px;
  }

  .tab-pane h2 {

      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
  }

  .tab-pane .loader-info {
      border-right: 1px solid rgba(16, 132, 116, 0.1);
      border-left: 1px solid rgba(16, 132, 116, 0.1);
  }

  /*product description end*/
  /*related products start*/
  .related-products {
      padding: 80px 0 80px 0;
  }

  abbr[title] {
      text-decoration: none;
      cursor: help;
  }

  .related-products h2 {
      font-weight: 600;
  }

  /*related products end*/
  /*footer start here*/
  .footer-top-area {
      padding-top: 80px;
      padding-bottom: 80px;
      background-color: #ffffff;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-top: 1px solid #e2e2e2;
  }

  .footer-list-wrap ul.footer-list {
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: -15px;
  }

  .footer-list-wrap ul.footer-list li.ftlink-li {
      width: calc(20% - 15px);
      margin-left: 15px;
  }

  a.theme-footer-logo img {
      width: 120px;
  }

  .img-fluid {
      max-width: 100%;
      height: auto;
  }

  .footer-list .logo p {
      font-size: 14px;
      padding-top: 13px;
  }

  li.ftlink-li h2.ft-title {
      font-size: 16px;
      font-weight: 600;
  }

  .ftsublink-li {
      padding: 5px 0;
  }

  .address-icon span {
      font-size: 14px;
      color: #6F6F6F;
      margin-top: 18px;
  }

  .contact-icon {
      margin-top: 18px;
  }

  .contact-icon a {
      color: #212529;
  }

  /*footer end here*/
  /*mobile mode start*/
  @media(max-width:768px) {

      /*navbar mode start*/
      .product-details {
          margin: 0;
      }

      .container-custom {
          width: 390px !important;
          height: 90px;
      }

      ul.shop-element .user-wrap .acc-desk i {
          font-size: 20px;
          margin-left: 15px;
          margin-right: 0;
      }

      .wishlist-wrap i:first-child,
      .cart-wrap i:first-child {
          font-size: 20px;
          color: #333333;
          margin-left: 15px;
      }

      .top-icon i {
          font-size: 18px;
          margin-left: 15px;
      }

      .form_search {
          position: relative;
      }

      .form-control {
          width: 360px;
          height: 40px;
      }

      .search-input {
          padding-right: 55px;
          /* button ke liye space */
      }

      /* button fix position */
      .search-btn {
          position: absolute;
          top: 50%;
          right: -1px;
          transform: translateY(-50%);

          width: 38px;
          height: 38px;
          border-radius: 50%;
          border: none;
          background: #333;
          color: #fff;
          font-size: 15px;
      }

      .search-btn:hover {
          background: #000;
      }

      /*main image start here*/
      .main-image {
          width: 360px;
          height: 450px;
          display: block;
          margin: 0 auto;
      }

      /*main image end*/
      /*product-detail-info start*/
      .product-detail-info .product-title {
          padding: 30px 0 0 0;
      }

      .product-description p {
          width: 85%;
      }

      .product-detail-info .form-button .btn:first-child {
          width: 172px;
      }

      .product-detail-info .form-button .btn:last-child {
          width: 172px;
      }

      /*product-detail-info end*/
      /*footer start*/
      .footer-top-area {
          margin-top: 40px;
      }

      .footer-list-wrap ul.footer-list li.ftlink-li {
          width: calc(100% - 15px);
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px dashed #4a4a4a;
      }

      /*footer end*/
  }

  /*mobile mode end*/
  @media (min-width:768px) and (max-width:991.98px) {
      .main-image {
          display: block;
          margin: 0 auto;
      }
  }